* {
    margin:0;
    padding:0;
}
main{
    min-width: 980px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu-principal{
    background-color: #003366;
    height: 60px;
    width: 100%;
}
.menu-1{
    width: 980px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    padding: 16px;
    float: left;
    width: 60%;
}
.redes-sociais{
    width: 30%;
    float: right;
    margin-top: 15px;
}
.redes-sociais ul li{
    margin-left: 34px;
    display: inline-block;
    float: right;
}
.header-2{
    background-color: #ffffff;
    height: 65px;
    width: 100%;
    border-bottom: 4px solid #efefef;
}
.menu-2{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
.menu-2 ul{
    padding-inline-start: 0 !important;
}
.menu-2 ul li{
    display: inline-block;
    float: left;
    padding: 10px;
    margin-top: 12px;
    height: 33px;
}
.menu-2 ul li a:hover{
    color: #00bac6;
}
.menu-2 ul li:hover{
    border-bottom: 4px solid #00bac6;
}
.menu-2 ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px;
}
.busca{
    float:right;
    margin-top: 12px;
}
.busca input{
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 36px;
    padding: 10px;
}
button.slick-prev{
    font-size: 0;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image:url(../img/arrow-L.png); 
    position: absolute;
    z-index: 9;
    top: 35%;
    left: 20%; 
}
button.slick-next{
    font-size: 0;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image:url(../img/arrow-R.png); 
    position: absolute;
    z-index: 9;
    top: 35%;
    right: 20%; 
}
.slick-dots li{
    display: inline-block;
    padding: 10px;  
}   
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 43%;
    bottom: 10%;
}
.slick-dots li button{
    font-size: 0;
    width: 17px;
    height: 16px;
    background-color: transparent;
    border: 4px solid #ffffff;
    border-radius: 8px;
}
li.slick-active button{ 
    background-color: #00bac6;
}
.col-1{
    width: 980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.h1 {
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.p {
    text-align: center;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}
.imagens{
    display: inline-flex;
    width: 980px !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.photo{
    position: relative;
    float: left;
} 
.mac{
    margin-top: 45px;
    position: relative;
    margin-left:31.5%;
    float: left;
}
.pencil{
    position: relative;
    float: right;
}
.photo:hover{
    background-image: url(../img/mac2.png);
    background-repeat: no-repeat;
}
.mac:hover{
    background-image: url(../img/photo2.png);  
    background-repeat: no-repeat;  
}
.pencil:hover{
    background-image: url(../img/pencil2.png); 
    background-repeat: no-repeat;   
}
.col-2 {
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 180px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.imagem img{
    margin-top: 60px;
    padding:7px;
    width: 310px;
    height: 186px;
}
.imagem{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
