*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: 'Arial', Times, serif;
    color:white;
 }
header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 55px;
    margin-top: 15px;
    padding-bottom: 20px;
}

header nav{
    margin-left: 20px;
}
header nav a{
    text-decoration: none;
    padding:5px;
    color: #AAA;
}
header nav a:hover{
    color: #fff;
}
.filme-principal{
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 550px;
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}
.descricao{
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;
}
.titulo{
    position: absolute;
    top: 180px;
    font-size: 40px;
    margin-left: 30px;
}
.botao{
    position: absolute;
    bottom: 75px;
    padding-top:40px;
    margin-left: 30px;
}
main .play:hover{
    background-color:rgb(255, 0, 0) ;
}
main .play{
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-color:rgb(221, 20, 20);
    background-position: left;
    background-position-x: 10px;
    border: 1px solid rgb(221, 20, 20);
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
  }
main .list:hover{
    background-color:rgb(56, 56, 56) ;
}
main .list{
    background-image: url(../img/add.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    background-color:black;
    border: 1px solid white;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
  }

.btn{
    width: 150px;
    padding: 0;
    background: none;
}
#Cavaleiro{
    display: flex;
}
button{
    border: none;
}
.item img{
    height: 250px;
}
.carrossel{
    padding-bottom: 30px;
}
footer{
    height: 50px;
    position: fixed;
}